# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "cargo"
    directory: "/relm4-components"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/relm4-macros"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/relm4-examples"
    schedule:
      interval: "daily"
