[package]
name = "relm4"
authors = ["Aaron Erhardt <aaron.erhardt@t-online.de>"]
edition = "2021"
version = "0.5.0-beta.3"
rust-version = "1.63"
readme = "../README.md"
license = "Apache-2.0 OR MIT"
description = "An idiomatic GUI library inspired by Elm and based on gtk4-rs"

homepage = "https://relm4.org"
repository = "https://github.com/Relm4/Relm4"
documentation = "https://relm4.org/docs/stable/relm4/"

keywords = ["gui", "gtk", "gtk4", "elm"]
categories = ["gui"]

[features]
default = []
libadwaita = ["adw"]
libpanel = ["panel"]
macros = ["relm4-macros"]
all = ["libadwaita", "macros"]

[dependencies]
#adw = { version = "0.2", optional = true, package = "libadwaita" }
adw = { git = "https://gitlab.gnome.org/World/Rust/libadwaita-rs", optional = true, package = "libadwaita" }

async-broadcast = "0.4"
flume = "0.10.14"
futures = "0.3.21"
fragile = "1.2.1"
gtk = { git = "https://github.com/gtk-rs/gtk4-rs", package = "gtk4" }
#gtk = { version = "0.5", package = "gtk4" }
log = "0.4.17"
once_cell = "1.13"
panel = { git = "https://gitlab.gnome.org/World/Rust/libpanel-rs", rev = "517d3f0459a9da16d300e2ee0b7508205494f845", optional = true, package = "libpanel" }
#panel = { version = "0.1.0-alpha-0", optional = true, package = "libpanel }
tokio = { version = "1.20", features = ["rt", "rt-multi-thread"] }

#relm4-macros = { version = "0.4.1", optional = true }
relm4-macros = { path = "../relm4-macros", optional = true }
tracing = { version = "0.1.36", features = ["log"] }

[dev-dependencies]
relm4-macros = { path = "../relm4-macros" }
tokio = { version = "1.20", features = ["full"] }
criterion = "0.4"

[[bench]]
name = "stress_test"
harness = false
