[package]
name = "relm4-components"
authors = ["Aaron Erhardt <aaron.erhardt@t-online.de>"]
edition = "2018"
version = "0.1.0-beta.8"
description = "An idiomatic GUI library inspired by Elm and based on gtk4-rs"
repository = "https://github.com/AaronErhardt/relm4"
readme = "README.md"
license = "Apache-2.0 OR MIT"
documentation = "https://aaronerhardt.github.io/docs/relm4/relm4_components/"

keywords = ["gui", "gtk", "gtk4"]
categories = ["gui"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gtk = { version = "0.2", package = "gtk4" }
relm4 = "0.1.0-beta.8"
#relm4 = { path = "../" }
relm4-macros = "0.1.0-beta.8"
#relm4-macros = { path = "../relm4-macros" }
tracker = "0.1"
